<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>小辉煌招聘</title>
        <link rel="stylesheet" href="./public/css/bootstrap/bootstrap.min.css">
        <!--<link rel="stylesheet" href="./public/css/index.css">-->
	</head>
    <style>

    </style>
	<body>
		<header>
            <button id="btn">按鈕</button>
        </header>
	</body>
    <script>
        var btn = document.getElementById('btn');
        btn.addEventListener('click',function(){
            location.href = 'nav.html'
        })
    </script>
</html>
